@import "tailwindcss";

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --color-background: black;
  --color-foreground: #d0d9ea;
}

@layer base {
  body {
    @apply bg-background text-slate-400;
  }

  h1 {
    @apply text-xl font-bold text-slate-300;
  }

  h2 {
    @apply text-lg font-bold text-slate-300;
  }

  div[role="dialog"] > div {
    @apply rounded-lg border-[3px] border-[#8A09CA] bg-slate-950
           fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2
           flex flex-col gap-5 p-4
           text-base font-medium
           transition-all;
  }

  button {
    @apply rounded-lg border-2 border-slate-600 bg-[#1a1a1a] px-3.5 py-2
           font-semibold cursor-pointer
           hover:bg-slate-600
           transition-all duration-300;
  }

  button.primary {
    @apply bg-green-800 text-white border-green-600
           hover:bg-green-700 hover:border-green-400;
  }

  button.secondary {
    @apply bg-gray-900 text-white border-gray-600
           hover:bg-gray-800 hover:border-gray-600;
  }

  button:focus-visible {
    @apply outline-none ring-2 ring-pink-500;
  }

  .rows {
    @apply flex flex-col gap-4;
  }

  .columnar {
    @apply flex flex-row gap-4;
  }

  .center {
    @apply absolute h-full w-full flex items-center justify-center;
  }
}
